@model List<Big_Collection.Models.Order>

<div class="card  mb-3 simple-linear shadow-lg cart-padding">
    <h1>My order</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @order.Date
                    </td>
                    <td>
                        @order.Status.Name
                    </td>
                    <td>
                        @order.TotalPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>