@model Big_Collection.Models.Product

@{
    ViewData["Title"] = "CreateProduct";
}

<div class="card  mb-3 simple-linear shadow-lg cart-padding">
    <form method="post" asp-action="CreateProductPage">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input asp-for="Id" hidden="hidden" disabled="disabled" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Price">Price</label>
                <input type="text" asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Details">Details</label>
                <input type="text" asp-for="Details" class="form-control">
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Quantity">Quantity in Store</label>
                <input type="text" asp-for="Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Image">Imageadress</label>
                <input type="text" asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Sex">Sex</label>
                <input type="text" asp-for="Sex" class="form-control">
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Color">Colour</label>
                <input type="text" asp-for="Color" class="form-control">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Size">Size</label>
                <input type="text" asp-for="Size" class="form-control">
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CategoryId">CategoryId</label>
                <input type="text" asp-for="CategoryId" class="form-control">
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>