@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <div class="dropdown">
                @if (!User.IsInRole("Admin"))
                {
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My pages <i class="far fa-user"></i>

                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Update">Account Infromation</a>
                        <a class="dropdown-item" asp-controller="Orders" asp-action="GetUserOrders">My ordrer</a>
                        <a class="dropdown-item" asp-controller="Logout" asp-action="Index">Sing out</a>
                    </div>
                }
                else
                {
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN <i class="far fa-user"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-controller="Products" asp-action="ManageProductsPage">Manage Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Orders" asp-action="Index">Manage order</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Logout" asp-action="Index">Sign Out </a>
                    </div>
                }
            </div>
        </li>
     }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="RegisterPage">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Login" asp-action="LoginPage">Sign in</a>
        </li>

    }
</ul>